<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for(@contact, :html => {:role => 'form'}) do |f| %>
      <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
          <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :intro %><br>
        <%= f.text_area :intro, rows: "3", class: "form-control" %>
        <span class="help-block">This should be a short intro your friends can use to introduce you to other people. Give a short summary of who you are and what you do.</span>
      </div>



      <div class="actions form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>